<h2 class="mt-5 mb-4">Overview</h2>
<p>Provide a reduced set of guidance and/or documentation for APIs in housing systems that cover critical elements for usage and understanding. This shouldn’t require any other work to the APIs themselves.</p>
<h3>Essential elements:</h3>
<ul class="ms-4">
<li>Details of endpoint locations  </li>
<li>Authentication and permissions requirements  </li>
<li>Endpoint description and details of data available and formats  </li>
<li>Details of standards used  </li>
<li>Availability and performance expectations or restrictions</li>
</ul>
<h3>Desirable elements:</h3>
<ul class="ms-4">
<li><a href="/procurement/open-documentation/">Documentation available publicly or on request (before procurement of system)</a>  </li>
<li>Provide examples of formats and data structure  </li>
<li>Usage examples (request examples)</li>
</ul>
<h2 class="mt-5 mb-4">How it can help</h2>
<p>Clear documentation is essential to help users understand and make use of APIs. It helps users understand where to find the information they need, how to access it and any restrictions or limitations they need to be aware of. </p>
<p>Providing these details publicly, or upon request allows users to design integrations before they have full access to the system, this can help to speed up the implementation process and give users a clearer idea of what is available and how it can be used.</p>
<h2 class="mt-5 mb-4">Follow on</h2>
<p>This is a simpler step than the preferred approach of adhering to the <a href="/procurement/open-api/">OpenAPI specification</a> which, in some cases, may require APIs to be updated. This also may be the best approach for non-RESTful APIs.</p>
<h2 class="mt-5 mb-4">Related links</h2>
<ul class="ms-4">
<li><a href="https://www.gov.uk/government/publications/recommended-open-standards-for-government/describing-restful-apis-with-openapi-3">Describing RESTful APIs with OpenAPI 3 - GOV.UK</a></li>
</ul>
<hr /><p><strong>Last update: </strong>20/03/2025, 14:18:32</p>