<h2 class="mt-5 mb-4">Who are we</h2>
<p>This prototype was developed by the social housing data team at <a href="https://www.localdigital.gov.uk/">Local Digital</a> (a team within the <a href="https://www.gov.uk/government/organisations/ministry-of-housing-communities-local-government">UK Ministry of Housing, Communities and Local Government</a>) in partnership with <a href="https://www.tpximpact.com/">TPXimpact</a>. </p>
<p>It is intended to support people and organisations to adopt data standards.</p>
<h2 class="mt-5 mb-4">The problem</h2>
<p>Social housing providers, which are local authorities (LAs) or housing associations (HAs) registered with the <a href="https://www.gov.uk/government/organisations/regulator-of-social-housing">Regulator of Social Housing</a>, are facing increasingly complex challenges. </p>
<p>Many of these challenges are related to data, where they have difficulty:</p>
<ul class="ms-4">
<li>accessing their own data  </li>
<li>using their data   </li>
<li>combining data</li>
</ul>
<p>This affects how well they can provide efficient and effective services.</p>
<h3 class="mt-3 mb-3">Standards exist, but are not used</h3>
<p>There are already data standards in the sector. </p>
<p>These existing standards offer a good starting point for targeted reform. But many social housing services have not adopted them. This is because:</p>
<ul class="ms-4">
<li>they have design weaknesses  </li>
<li>they are not well promoted or explained</li>
</ul>
<h2 class="mt-5 mb-4">The solution</h2>
<p>To provide effective services that are interoperable, social housing providers need the right data at the right time. </p>
<p>To achieve this, we recommend providing them with:</p>
<ul class="ms-4">
<li>core data standards  </li>
<li>guidance on how to adopt and use the standards  </li>
<li>application programming interface (API) standards  </li>
<li>access standards</li>
</ul>
<h3 class="mt-3 mb-3">A vision for the future</h3>
<p>We believe this work makes it possible for the sector to have high ambitions for its future. Social housing providers would have a consistent and comprehensive picture of their tenants and homes. This would allow them to deliver better services.</p>
<p>Data would be:</p>
<ul class="ms-4">
<li>captured consistently and accurately  </li>
<li>shared seamlessly between teams and agencies that require it, with systems designed to enable this  </li>
<li>standardised where it needs to be</li>
</ul>
<p>Software would be upgraded more often. Systems would be more interoperable. The technology market would be healthier and more innovative.</p>
<h2 class="mt-5 mb-4">How these data standards were developed</h2>
<p>These data standards were created by <a href="https://hact.org.uk/">Housing Associations Charitable Trust (HACT)</a> in 2020 as part of the HACT 2.0 repairs module, in collaboration with <a href="https://www.oscre.org/">Open Standards Consortium for Real Estate (OSCRE)</a> and over 70 housing associations and software vendors.</p>
<p><strong>Last update: </strong>01/04/2025, 10:35:19</p>