<p>This page refers to <a href="https://hact.org.uk/tools-and-services/uk-housing-data-standards/">Housing Associations Charitable Trust (HACT) UK Housing Data Standards (v3.5)</a>, published on 16 June 2022.</p>
<h2 class="mt-5 mb-4">Benefits of adopting reference</h2>
<p>Using this entity gives you a single version of the truth about tenants and assets. That makes it consistent and shareable with other organisations.</p>
<h3 class="mt-3 mb-3">Remove confusion</h3>
<p>Identifiers that are clearly labelled allow you to find potential areas of confusion. This is known as disambiguation. </p>
<p>For example, you might have two records of tenants that show the same name. That can create risks that you will:</p>
<ul class="ms-4">
<li>contact the wrong person and share confidential information  </li>
<li>struggle to find hidden households, where families are living at the same address  </li>
<li>carry out equalities monitoring inaccurately</li>
</ul>
<p>Reference allows you to decide whether to trust the identifiers used and therefore work out whether they are the same person or different people.</p>
<blockquote>
<p><strong>Example</strong></p>
<p>A small housing association in the Midlands has spotted ambiguous data in its tenant records. For instance, several tenants share common names such as "John Smith". This creates problems in identifying the correct individual for rent payments, maintenance requests, and tenant communications. Additionally, some records lack sufficient detail, such as incomplete addresses or missing contact information, further complicating matters.</p>
<p>The housing association applies the reference entity to its data and adds sources for every identifier. It can now identify whether individuals with the same name are really the same person. And where there’s gappy data it can first combine matching records to consolidate the data before it explores ways to fill any remaining gaps.</p>
<p>This saves them time and reduces their workload.</p>
</blockquote>
<h3 class="mt-3 mb-3">Spot duplicates and gaps</h3>
<p>When data is combined from multiple datasets, identifiers may not be from the same source. This creates the risk of multiple entries for the same thing (such as a tenant or building), created by different sources. </p>
<p>It can create risks you will, for example:</p>
<ul class="ms-4">
<li>overspend by paying for changes to one real-world thing twice  </li>
<li>not meet compliance or safety requirements through missed inspections, inaccurate reporting or communication failures</li>
</ul>
<p>By being able to see where each one came from, you can easily identify the unnecessary extra data (a process known as deduplication). Being confident of which data to trust also helps spot missing records and other gaps in the data.</p>
<blockquote>
<p><strong>Example</strong></p>
<p>A housing association in Manchester, which manages over 10,000 properties, has issues with duplicate records in its tenant database. This makes their communications inefficient, with some tenants receiving multiple letters for the same issue, while others are missed entirely. Additionally, repair requests are sometimes duplicated, causing confusion and delays in service.</p>
<p>The housing association applies the reference entity to its data and adds sources for every identifier. It can now identify the duplicates, and set up its communications and repairs databases to use only the correct identifier in each instance.</p>
<p>This saves them time and reduces their workload.</p>
</blockquote>
<h3 class="mt-3 mb-3">Capture new data in the right place</h3>
<p>When new information comes into the system, for example when a tenant telephones to log a repair, staff need to add the information to the right entry. </p>
<p>If reference is used and deduplication has been done on the data, staff can be confident they only have access to reliable entries.</p>
<blockquote>
<p><strong>Example</strong></p>
<p>A large housing association in London has a dataset of assets that has become messy over time. When they capture new data through processes like building surveys or reports from repairs people, it’s not clear where to add the data, and it’s making things even messier. This is having impacts on every aspect of the service.</p>
<p>The housing association applies the reference entity to its data and carries out processes like deduplication and disambiguation. Now whenever it gathers new data it can be confident it is adding it to the correct record.</p>
<p>This saves them time and reduces their workload.</p>
</blockquote>
<h3 class="mt-3 mb-3">Distinguish between identifiers</h3>
<p>There are many identifiers needed by housing providers, such for:</p>
<ul class="ms-4">
<li>buildings  </li>
<li>tenants  </li>
<li>fire safety cores  </li>
<li>service charges   </li>
<li>lifts</li>
</ul>
<p>These can create confusion within a dataset.</p>
<p>Using reference on each identifier makes it easy to sort through to find relevant data on the specific identifier you are interested in.</p>
<blockquote>
<p><strong>Example</strong></p>
<p>A housing association in the Northeast is getting confused between different kinds of records. The identifiers are similar in many cases. This slows down many kinds of data work.</p>
<p>The housing association applies the reference entity to its data and adds the sources for each identifier. Based on the source of the data it is much easier to understand what kind of thing it represents.</p>
<p>This saves them time and reduces their workload.</p>
</blockquote>
<h3 class="mt-3 mb-3">See whether an identifier is official</h3>
<p>Many systems generate identifiers automatically. It’s not always clear where these have come from, or that there is another entry with an identifier from a reliable source. </p>
<p>A common example is the unique property reference number (UPRN), which is officially generated by the Geoplace’s Local Land and Property Gazetteer (Geoplace LLPG). However, some systems will automatically generate their own identifiers for properties but still call them UPRNs.</p>
<p>Reference makes it possible to identify the official entries.</p>
<blockquote>
<p><strong>Example</strong></p>
<p>A housing association in Cornwall with 15,000 properties has spotted a lot of UPRNs in its data that it suspects are not from Geoplace LLPG. It has noticed that when its system generates identifiers automatically, it’s labelling them as UPRN without checking they are really from Geoplace. People trust the data as official when it actually is not.</p>
<p>The housing association applies the reference entity to its data and cross-references it against data from Geoplace LLPG. It can now assign a source to the official ones, and know that these are the only ones to trust from now on. If it does not know the sources of the identifiers that are inaccurately labelled as UPRNs, it can either replace the UPRN label, find out the real source or add a note in the description attribute of the reference entity to flag that these should not be trusted.</p>
<p>This saves them time and reduces their workload.</p>
</blockquote>
<h3 class="mt-3 mb-3">Share data between systems and organisations, or through APIs</h3>
<p>Different systems may use their own identifiers. When data is moved between them, entries do not always line up. This introduces potential confusion, errors and duplicates. </p>
<p>You can add a column for a cross-system identifier, such as unique property reference number (UPRN), and apply the reference entity to this column and the system’s own identifier. This makes it possible to combine the new data with the existing dataset, quickly and accurately.</p>
<p>The same approach can help organisations share accurate and usable data between them, either directly or through application program interfaces (APIs).</p>
<blockquote>
<p><strong>Example</strong></p>
<p>A small housing association in the Midlands has messy data in many of the ways listed above. It cannot confidently:</p>
<ul class="ms-4">
<li>combine data within the systems it uses</li>
<li>share data with other organisations such as repairs contractors</li>
<li>provide its data through APIs for use elsewhere</li>
</ul>
<p>It is currently merging with another small local housing association, so these problems will create an even messier shared database.</p>
<p>The housing association applies the reference entity to its data and adds sources for every identifier. It can now sort out all the messes and combine the data with confidence, knowing records will match up correctly.</p>
<p>This saves them time and reduces their workload.</p>
</blockquote>
<h2 class="mt-5 mb-4">Benefits to tenants</h2>
<p>Using reference makes it easier to line up data on the same person across systems. This makes it possible to have a single source of truth for each tenant. </p>
<p>This avoids unpleasant experiences for tenants like:</p>
<ul class="ms-4">
<li>being asked for the same information repeatedly   </li>
<li>finding out a repairs team has turned up to a different address</li>
</ul>
<h2 class="mt-5 mb-4">Benefits to staff</h2>
<h3 class="mt-3 mb-3">Staff who manage data</h3>
<p>Knowing where an identifier came from is essential for allowing systems to interact with each other. When implemented correctly, it makes it possible to automate this interoperability, reducing manual data cleansing work.</p>
<p>It also gives data professionals a tool for querying other datastores, to confidently see:</p>
<ul class="ms-4">
<li>what related data exists  </li>
<li>how it can be used</li>
</ul>
<h3 class="mt-3 mb-3">Staff who manage housing</h3>
<p>Reference helps staff rely on information about tenants and buildings, such as the location of a property.</p>
<p>When staff create new data, such as after a site survey, reference can be used to successfully link the new data to the existing data. </p>
<p>It allows them to:</p>
<ul class="ms-4">
<li>successfully share data with other organisations involved in housing services  </li>
<li>coordinate their work</li>
</ul>
<h3 class="mt-3 mb-3">Staff who manage people</h3>
<p>Reference allows managers to combine data when producing strategic reports. </p>
<p>It is especially useful when organisations merge as datasets can be combined quickly with a lot fewer errors.</p>
<h2 class="mt-5 mb-4">Case studies</h2>
<p><a href="https://www.local.gov.uk/case-studies/sheffields-linking-uprns-council-tax-data-support-over-70s-living-alone">Sheffield’s linking of UPRNs to council tax data to support over 70’s living alone</a></p>
<p><strong>Last update: </strong>01/04/2025, 10:35:19</p>