<p>Standards are documented, reusable agreements that solve a specific set of problems or meet clearly defined needs.</p>
<p>They provide rules, guidelines or characteristics for activities so that they can be repeated. The aim is to achieve the greatest degree of order in a given context.</p>
<p>Standards are used in industries and sectors across the world to document agreements.</p>
<blockquote>
<p><strong>Everyday standards include:</strong></p>
<ul class="ms-4">
<li>standards for electrical sockets so any appliance can be plugged in</li>
<li>ISBN numbers to uniquely identify books  </li>
<li>UK postcodes</li>
</ul>
</blockquote>
<h2 class="mt-5 mb-4">How standards apply to data</h2>
<p>According to the <a href="https://standards.theodi.org/">Open Data Institute</a>, data standards help people and organisations to publish, access, share and use better quality data.</p>
<p>Data standards are used to:</p>
<ul class="ms-4">
<li>agree on common models or a common language  </li>
<li>make combining information simpler and streamlined  </li>
<li>share information consistently between systems</li>
</ul>
<table class="table table-striped">
<thead class="thead-dark">
<tr>
<th>Example of a data standard:  <a href="https://www.gov.uk/government/collections/transxchange">TransXChange</a>: A UK standard for sharing bus route information, including timetables and live locations.</th>
</tr>
</thead>
</table>
<h2 class="mt-5 mb-4">Benefits of adopting data standards</h2>
<p><a href="http://xxx">Learn how to make a case for adopting data standards</a>.</p>
<hr /><p><strong>Last update: </strong>24/03/2025, 08:19:02</p>