<p>Repairs and maintenance &gt; Reference</p>
<h1>Reference</h1>
<p>This page refers to HACT Model Version Main/3.5 published on 16 Jun 2022 00:00</p>
<table class="table table-striped">
<thead class="thead-dark">
<tr>
<th>Technical users who are really to apply this standard may choose to go straight to the <a href="?tab=t.j2sltwmjz1yy">technical guidance</a></th>
</tr>
</thead>
</table>
<h2 class="mt-5 mb-4">Summary</h2>
<p>Reference is one of the entities in the HACT data standard.</p>
<p>This entity records an identifier and where it came from. It sometimes gives other details about the identifier. </p>
<p>An identifier is a code, usually a string of numbers or letters, that is assigned to a real-world thing, such as a building or a tenant. It can then be used to identify that thing.</p>
<p>Without using the reference entity to show an identifier’s source, there are several ways it could become less reliable. For example, two things might have the same identifier, or one thing might have been given several different identifiers. Knowing the source of each identifier makes it possible to resolve these problems and provides a single version of the truth.</p>
<p>A reference is a bit like the:</p>
<ul class="ms-4">
<li>the details on a credit card, where the <strong>name of the bank</strong> shows who assigned the <strong>long number</strong> that uniquely identifies that specific card  </li>
<li>an email address, where the <strong>@example.com</strong> part shows which domain the <strong>firstname.lastname</strong> identifier is associated with  </li>
<li>a telephone number, where <strong>country code</strong> shows which country the <strong>rest of the number</strong> is from</li>
</ul>
<p><strong></strong></p>
<h3>Reference is metadata, stored outside of the main table.</h3>
<h3>About the attributes of this entity</h3>
<p>Reference has attributes that show:</p>
<ul class="ms-4">
<li>the reference number (or other identifier) in question  <ul class="ms-4">
<li>the organisation or system that created the reference number  </li>
<li>what role the source organisation has, such as property manager or facility manager  </li>
<li>any important background about the reference, for example that it is a barcode for something physical</li>
</ul>
</li>
</ul>
<p><a href="?tab=t.j2sltwmjz1yy">See the technical guidance for the attributes</a></p>
<h2 class="mt-5 mb-4">Who reference is for</h2>
<p>The reference entity is useful for teams who:</p>
<ul class="ms-4">
<li>manage data and make sure it is accurate  </li>
<li>use data and need it to be reliable</li>
</ul>
<p>Accurate and reliable data can improve the experience of tenants in many ways.</p>
<p>It can also improve things for internal teams, including:</p>
<ul class="ms-4">
<li>data professionals  </li>
<li>housing staff  </li>
<li>housing officers  </li>
<li>management</li>
</ul>
<p><a href="?tab=t.5um92sahxwmk#heading=h.qcg9qynnrad1">Read more about how adopting this entity benefits these teams</a></p>
<h2 class="mt-5 mb-4">How it benefits your organisation</h2>
<p>Housing providers’ data can become messy. For example, you might have multiple different identifiers in your system for a building. One might be from an external source, while two others are internal and system-generated.</p>
<p>Using the reference entity can help cleanse these sorts of messes, by making it possible to:</p>
<ul class="ms-4">
<li>remove confusion   <ul class="ms-4">
<li>spot duplicates  </li>
<li>capture new data in the right place  </li>
<li>distinguish between identifiers  </li>
<li>see whether an identifier is official  </li>
<li>share data between systems and organisations, or through APIs</li>
</ul>
</li>
</ul>
<p><a href="?tab=t.5um92sahxwmk#heading=h.hlocrn6ep95z">Read more about the benefits of adopting this entity</a></p>
<table class="table table-striped">
<thead class="thead-dark">
<tr>
<th>Application Programming Interface (API)  A piece of software that lets one program access or control another program. APIs allow applications to share data without requiring developers to share software code.</th>
</tr>
</thead>
</table>
<h2 class="mt-5 mb-4"><a href="?tab=t.5um92sahxwmk">Make a case for adopting this entity</a> <a href="https://docs.google.com/document/d/1BouljMkq_6m9PNmEzT89Crk2jhhCmX9vntWG-nsKTAQ/edit?tab=t.hbsbksyx2fby">Download reference</a></h2>
<hr /><p><strong>Last update: </strong>26/03/2025, 13:53:59</p>