<p>Repairs and maintenance &gt; Reference &gt; Make a case for adopting this standard</p>
<h2 class="mt-5 mb-4" id="benefits-of-adopting-this-standard">Contents</h2>
<ul class="ms-4">
<li><a href="#benefits-of-adopting-this-standard">Benefits of adopting this standard</a>  </li>
<li><a href="#benefits-to-specific-teams">Benefits to specific teams</a>  </li>
<li><a href="#benefits-to-specific-teams">Organisations who implemented this standard</a>  </li>
<li><a href="#case-studies">Case studies</a></li>
</ul>
<h2 class="mt-5 mb-4" id="benefits-to-specific-teams">Benefits of adopting this standard </h2>
<p>All of these benefits have the potential to save substantial time for your organisation’s staff.</p>
<h3>Disambiguate</h3>
<p>Identifiers that are clearly labelled allow you to find potential areas of confusion. </p>
<p>For example, you can be confident that two tenants with the same name are actually different people.</p>
<h3>Deduplicate</h3>
<p>When data is combined from multiple datasets, identifiers may not be from the same source, which creates the risk of duplicate entries. </p>
<p>By being able to see where each one came from, you can easily deduplicate data.</p>
<h3>Capture new data in the right place</h3>
<p>When new information comes into the system, for example when a tenant telephones to log a repair, staff need to add the information to the right entry. </p>
<p>Reference means they can be confident as they only have access to reliable entries.</p>
<h3>Distinguish between identifiers</h3>
<p>There are many identifiers needed by housing providers, such for buildings, tenants, fire safety, service charges and lifts. These can create confusion within a dataset.</p>
<p>Using reference on each identifier makes it easy to sort through to find only the relevant and reliable ones.</p>
<h3>See whether an identifier is official</h3>
<p>Many systems generate identifiers automatically. It’s not always clear where these have come from, or that there is another entry with an identifier from a reliable source. </p>
<p>Reference makes it possible to identify these entries.</p>
<h3>Share data between systems and organisations, or through APIs</h3>
<p>Different systems may use their own identifiers. When data is moved between them, entries do not always line up. This introduces potential confusion, errors and duplicates. </p>
<p>You can add a column for a cross-system identifier, such as unique property reference number (UPRN), and apply the reference entity to this column and the system’s own identifier. This makes it possible to combine the new data with the existing dataset, quickly and accurately.</p>
<p>The same approach can help organisations share accurate and usable data between them, either directly or through application program interfaces (APIs).</p>
<h2 class="mt-5 mb-4" id="case-studies">Benefits to specific teams </h2>
<h3>Data professionals</h3>
<p>Knowing where an identifier came from is essential for making systems interact with each other. When implemented correctly, it makes it possible to automate this interoperability, reducing manual data cleansing work.</p>
<p>It also gives data professionals a tool for querying other datastores, to confidently see:</p>
<ul class="ms-4">
<li>what related data exists  </li>
<li>how it can be used</li>
</ul>
<h3>Tenants</h3>
<p>Reference joins up systems so there is a single view of each tenant. </p>
<p>This avoids unpleasant experiences for tenants like:</p>
<ul class="ms-4">
<li>being asked for the same information repeatedly   </li>
<li>finding out a repairs team has turned up to a different address</li>
</ul>
<h3>Housing staff</h3>
<p>Reference helps staff rely on information about tenants and buildings, such as the location of a property.</p>
<p>When staff create new data, such as after a site survey, reference can be used to successfully link the new data to the existing data. </p>
<h3>Housing officers</h3>
<p>Reference allows housing officers to:</p>
<ul class="ms-4">
<li>successfully share data with other organisations involved in housing services  </li>
<li>coordinate their work</li>
</ul>
<h3>Management</h3>
<p>Reference allows managers to combine data when producing strategic reports. </p>
<h2 class="mt-5 mb-4">Organisations who implemented this standard</h2>
<h3>Hackney Council</h3>
<p>Adopted in 2023<br />&gt; Get in touch</p>
<h3>Orbit Housing</h3>
<p>Adopted in 2025<br />&gt; Get in touch</p>
<h2 class="mt-5 mb-4">Case studies </h2>
<hr /><p><strong>Last update: </strong>25/03/2025, 12:59:40</p>