<h2 class="mt-5 mb-4">Overview</h2>
<p>Government advice is that all RESFTful APIs should be documented using the OpenAPI spec.</p>
<h3>Essential elements:</h3>
<ul class="ms-4">
<li>Specification of API using the OpenAPI format  </li>
<li>Example requests and responses</li>
</ul>
<h3>Desirable elements:</h3>
<ul class="ms-4">
<li>Sandpit or test environment to develop against  </li>
<li><a href="https://airtable.com/app1PXK06Yp7cRweT/tblkHA3oYYXXc8JKB/viwdSp6fdFBJCQMsQ/reckTCrJcmibrgbk1?blocks=hide">Available publicly or on request (before procurement of system)</a></li>
</ul>
<h2 class="mt-5 mb-4">How it can help</h2>
<p>By using the OpenAPI 3 specification, you and other government organisations will be consistent in the way that you describe your RESTful APIs. You can use OpenAPI 3 to automatically generate accurate up to date API reference documentation, regardless of the programming language an API is written in. The specification can also help you to validate, version, maintain and update this generated documentation.</p>
<h2 class="mt-5 mb-4">Related links</h2>
<p><a href="https://swagger.io/specification/">OpenAPI Specification - Version 3.1.0 | Swagger</a><br /><a href="https://www.gov.uk/government/publications/recommended-open-standards-for-government/describing-restful-apis-with-openapi-3">Describing RESTful APIs with OpenAPI 3 - GOV.UK</a>  </p>
<hr /><p><strong>Last update: </strong>19/03/2025, 12:45:15</p>