<h2 class="mt-5 mb-4">Summary</h2>
<p>Gaining access to the API structure of your new system helps you identify and address potential integration issues before its implementation.</p>
<p>It can help you:</p>
<ul class="ms-4">
<li>document APIs in the appropriate format  </li>
<li>discover and plan for necessary system dependencies  </li>
<li>prevent delays and additional costs associated with unexpected integration issues</li>
</ul>
<h2 class="mt-5 mb-4">Getting started</h2>
<h3 class="mt-3 mb-3">1. Request API documentation from your supplier before signing a contract</h3>
<p>Explain to technology suppliers that early API documentation is essential to plan your integration. You need to understand how they look like, how they are structured and how you can access them.</p>
<h3 class="mt-3 mb-3">2. Use the correct specification to document your API</h3>
<p>Once you get the API structure from your technology supplier, there are two possible pathways:</p>
<ul class="ms-4">
<li>For RESTful APIs, the most common in the housing sector, use the <a href="https://housing-data-standards.netlify.app/procurement/describe-apis-using-the-openapi-specification/">OpenAPI specification</a>.  </li>
<li>For non-RESTful APIs, like GraphQL, use the <a href="https://housing-data-standards.netlify.app/procurement/minimal-api-documentation/">minimal API documentation</a>.</li>
</ul>
<blockquote>
<p>The choice isn't about preference, but rather about which type of API is being used. Certain APIs can't be documented using the Open API specification due to their different structure and request methods.</p>
</blockquote>
<h4 class="mt-3 mb-3">What to include in your documentation</h4>
<ul class="ms-4">
<li>Details of standards used  </li>
<li>Details of endpoint locations  </li>
<li>Authentication and permissions requirements  </li>
<li>Endpoint description, details of data available and formats  </li>
<li>Availability and performance expectations or restrictions  </li>
<li>Whether you want it to be made publicly available</li>
</ul>
<h3 class="mt-3 mb-3">3. Share the documentation with other technology suppliers</h3>
<p>This ensures all dependencies and integrations can be planned properly from the start of the project.</p>
<p><strong>Last update: </strong>01/04/2025, 10:35:19</p>