<p>Standards are documented, reusable agreements that solve a specific set of problems or meet clearly defined needs.</p>
<p>They provide rules, guidelines or characteristics for activities so that they can be repeated. The aim is to achieve the greatest degree of order in a given context.</p>
<p>Standards are used in industries and sectors across the world to document agreements.</p>
<p>Everyday standards include:</p>
<ul class="ms-4">
<li>standards for electrical sockets so any appliance can be plugged in</li>
<li>ISBN numbers to uniquely identify books</li>
<li>UK postcodes</li>
</ul>
<h2 class="mt-5 mb-4">How standards apply to data</h2>
<p>According to the <a href="https://standards.theodi.org/">Open Data Institute</a>, data standards help people and organisations to publish, access, share and use better quality data.</p>
<p>Data standards are used to:</p>
<ul class="ms-4">
<li>agree on common models or a common language  </li>
<li>make combining information simpler and streamlined  </li>
<li>share information consistently between systems</li>
</ul>
<p>Example of a data standard:</p>
<ul class="ms-4">
<li><a href="https://www.gov.uk/government/collections/transxchange">TransXChange</a>: A UK standard for sharing bus route information, including timetables and live locations.</li>
</ul>
<h2 class="mt-5 mb-4">Benefits of adopting data standards</h2>
<p><a href="http://xxx">Learn how to make a case for adopting data standards</a>.</p>
<p><strong>Last update: </strong>27/03/2025, 08:59:53</p>