<h2 class="mt-5 mb-4" id="summary">Contents</h2>
<ul class="ms-4">
<li><a href="#summary">Summary</a>  </li>
<li><a href="#who-is-this-standard-for">Who is this standard for</a>  </li>
<li><a href="#how-it-benefits-your-organisation">How it benefits your organisation</a>  </li>
<li><a href="#organisations-who-implemented-this-standard">Organisations who implemented this standard</a>  </li>
<li><a href="#case-studies">Case studies</a>  </li>
<li><a href="#status-and-current-usage">Status and current usage</a>  </li>
<li><a href="#download-person-alert-codes">Download person alert codes</a></li>
</ul>
<h2 class="mt-5 mb-4" id="who-is-this-standard-for">Summary </h2>
<p>A person alert code flags tenants’ vulnerabilities and necessary adjustments that need to be considered by anyone visiting or working at the property.</p>
<p>Examples of categories include:</p>
<ul class="ms-4">
<li>anti-social behaviour  </li>
<li>hearing difficulties  </li>
<li>disability</li>
</ul>
<p>Examples of alerts may include:</p>
<ul class="ms-4">
<li>don’t visit the property alone  </li>
<li>British Sign Language (BSL) interpreter needed</li>
</ul>
<h2 class="mt-5 mb-4" id="how-it-benefits-your-organisation">Who is this standard for </h2>
<p>This standard is useful for teams who are working to ensure their tenants' needs are considered and catered for.</p>
<p>Examples of teams might include:</p>
<ul class="ms-4">
<li>repairs teams  </li>
<li>housing officers  </li>
<li>surveyors</li>
</ul>
<h2 class="mt-5 mb-4" id="organisations-who-implemented-this-standard">How it benefits your organisation </h2>
<p>By providing key information at the right time, person alert codes can help you:</p>
<ul class="ms-4">
<li>manage risk and keep people safe  </li>
<li>adjust the way you engage with tenants  </li>
<li>enhance tenant satisfaction by reducing failed repairs visits</li>
</ul>
<h2 class="mt-5 mb-4" id="case-studies">Organisations who implemented this standard </h2>
<h3>Hackney Council</h3>
<p>Adopted in 2023<br />&gt; Get in touch</p>
<h3>Orbit Housing</h3>
<p>Adopted in 2025<br />&gt; Get in touch</p>
<h2 class="mt-5 mb-4" id="status-and-current-usage">Case studies </h2>
<ul class="ms-4">
<li><a href="https://www.local.gov.uk/case-studies/using-property-identifiers-locate-vulnerable-people-sedgemoor-district-somerset">Using property identifiers to locate vulnerable people in Sedgemoor District in Somerset</a></li>
</ul>
<h2 class="mt-5 mb-4" id="download-person-alert-codes">Status and current usage </h2>
<table class="table table-striped">
<thead class="thead-dark">
<tr>
<th>Ready to use</th>
</tr>
</thead>
</table>
<table class="table table-striped">
<thead class="thead-dark">
<tr>
<th>Reference</th>
<th>Version</th>
<th>Published</th>
<th>Next Review</th>
</tr>
</thead>
<tbody><tr>
<td>PAC-01</td>
<td>v3.5</td>
<td>August 2024</td>
<td>December 2025</td>
</tr>
</tbody></table>
<p>&gt; <a href="http://x">View change history for person alert codes</a><br />&gt; Roadmap</p>
<h2 class="mt-5 mb-4"><a href="?tab=t.hbsbksyx2fby">Download person alert codes</a> </h2>
<hr /><p><strong>Last update: </strong>19/03/2025, 15:10:58</p>