<p>This page refers to <a href="https://hact.org.uk/tools-and-services/uk-housing-data-standards/">Housing Associations Charitable Trust (HACT) UK Housing Data Standards (v3.5)</a>, published on 16 June 2022.</p>
<blockquote>
<p>Technical users who are really to apply this standard may choose to go straight to the <a href="http://xx">technical guidance</a>.</p>
</blockquote>
<h2 class="mt-5 mb-4">Summary</h2>
<p>Person alert codes is a code list and part of the <a href="https://hact.org.uk/tools-and-services/uk-housing-data-standards/">Alert Regarding Person entity</a>.</p>
<p>A person alert code flags tenants’ vulnerabilities and necessary adjustments that need to be considered by anyone visiting or working at the property.</p>
<p>Examples of categories include:</p>
<ul class="ms-4">
<li>anti-social behaviour  </li>
<li>hearing difficulties  </li>
<li>disability</li>
</ul>
<p>Examples of alerts include:</p>
<ul class="ms-4">
<li>don’t visit the property alone  </li>
<li>tenant may not be fluent in English</li>
</ul>
<h2 class="mt-5 mb-4">Who is this code list for</h2>
<p>This code list is useful for teams who are working to ensure their tenants' needs are considered and catered for.</p>
<p>Examples of teams might include:</p>
<ul class="ms-4">
<li>repairs teams  </li>
<li>housing officers  </li>
<li>surveyors</li>
</ul>
<h2 class="mt-5 mb-4">How it benefits your organisation</h2>
<p>Capturing tenant information in different ways makes it difficult to get a clear, consistent view of individual needs and circumstances.</p>
<p>Imagine a scenario where a repairs team needs to quickly assess a tenant's specific needs before a repair visit. Without standardised alert codes, crucial information about accessibility requirements, communication preferences or vulnerable circumstances might be overlooked.</p>
<p>By providing key information at the right time, person alert codes can help you:</p>
<ul class="ms-4">
<li>manage risk and keep people safe  </li>
<li>adjust the way you engage with tenants  </li>
<li>enhance tenant satisfaction by reducing failed repairs visits</li>
</ul>
<p><a href="http://xx">Read more about the benefits of adopting this code list</a></p>
<p><strong>Last update: </strong>01/04/2025, 10:35:19</p>