<p>This page refers to <a href="https://hact.org.uk/tools-and-services/uk-housing-data-standards/">Housing Associations Charitable Trust (HACT) UK Housing Data Standards (v3.5)</a>, published on 16 June 2022.</p>
<h2 class="mt-5 mb-4">Benefits of adopting person alert codes</h2>
<h3 class="mt-3 mb-3">Meets regulatory requirements</h3>
<p>The <a href="https://www.gov.uk/guidance/social-housing-complaints-make-things-right">Social Housing Regulation Act 2023</a> requires housing providers to report annually against 22 tenant satisfaction measures. </p>
<p>Implementing well-defined, standardised alert codes is a practical step toward meeting these expectations, reducing failed repairs and delivering a better tenant experience.</p>
<p>Under the <a href="http://www.gov.uk/guidance/equality-act-2010-guidance">Equality Act 2010</a>, organisations have a legal duty to make changes in their approach or provision to ensure that services are as accessible to people with disabilities as they are for everybody else. These changes are called reasonable adjustments.</p>
<p>Having standardised alert codes strengthens compliance while promoting a more inclusive approach to service delivery.</p>
<h3 class="mt-3 mb-3">Keeps everyone safe</h3>
<p>Teams need to know of any potential risks before visiting a property. They should also know the needs of vulnerable tenants. Alert codes provide a concise way to convey this essential information.</p>
<p>Without this, teams may struggle to meet tenants' needs or protect their workforce adequately.</p>
<blockquote>
<p><strong>Example</strong></p>
<p>A small housing association in Wales manages multiple residential properties and provides social housing for vulnerable tenants. One of their tenants, has a history of violent behaviour towards staff. A person alert code flags this tenant as engaging in ‘anti-social behaviour’, which prompts the housing association to adjust their approach by, for example:</p>
<ul class="ms-4">
<li>not visiting the property alone</li>
<li>requesting police assistance, if needed</li>
</ul>
</blockquote>
<h3 class="mt-3 mb-3">Reduces failed repairs visits</h3>
<p>Teams often lack the information needed to schedule and carry out appointments effectively. This leads to:</p>
<ul class="ms-4">
<li>wasted time  </li>
<li>additional costs  </li>
<li>tenant dissatisfaction</li>
</ul>
<blockquote>
<p><strong>Example</strong></p>
<p>A tenant has hearing difficulties, leading to repeated failed repair visits because they cannot hear the doorbell or phone calls from contractors. A person alert code flags this tenant as having ‘hearing difficulties’, which prompts the housing association to adjust their approach by, for example:</p>
<ul class="ms-4">
<li>using alternative communication methods, such as text messages</li>
<li>providing advance notice of visits via letters</li>
</ul>
</blockquote>
<h2 class="mt-5 mb-4">Case studies</h2>
<p><a href="https://www.local.gov.uk/case-studies/using-property-identifiers-locate-vulnerable-people-sedgemoor-district-somerset">Using property identifiers to locate vulnerable people in Sedgemoor District in Somerset</a></p>
<p><strong>Last update: </strong>01/04/2025, 10:35:19</p>