<h2 class="mt-5 mb-4">Summary</h2>
<p>It can be referred to as a “catch-all” option for APIs and serves as the minimum documentation standard when the <a href="https://housing-data-standards.netlify.app/procurement/describe-apis-using-the-openapi-specification/">OpenAPI specification</a> isn’t suitable.</p>
<p>It provides a reduced set of guidance and documentation for APIs that cover critical elements for usage and understanding. For example, data interaction and extraction. </p>
<p>It can help you:</p>
<ul class="ms-4">
<li>speed up the implementation process  </li>
<li>get a clear idea of what is available and how it can be used, whether that’s available publicly or on request</li>
</ul>
<h2 class="mt-5 mb-4">What to include in your documentation</h2>
<ul class="ms-4">
<li>Details of standards used  </li>
<li>Details of endpoint locations  </li>
<li>Authentication and permissions requirements  </li>
<li>Endpoint description, details of data available and formats  </li>
<li>Availability and performance expectations or restrictions  </li>
<li>Whether you want it to be made publicly available or on request</li>
</ul>
<p>You may also consider adding:</p>
<ul class="ms-4">
<li>examples of formats and data structure  </li>
<li>examples of requests</li>
</ul>
<blockquote>
<p>Complete API documentation includes other information such as quick start guides, how to get API keys, running a sample application, rate limits and many other subjects. You should refer to the <a href="https://www.gov.uk/guidance/how-to-document-apis">guidance on documenting APIs</a> and <a href="https://www.gov.uk/guidance/gds-api-technical-and-data-standards">government API standards</a> for more information.</p>
</blockquote>
<p><strong>Last update: </strong>01/04/2025, 10:35:19</p>