<h2 class="mt-5 mb-4">Summary</h2>
<p>The <a href="https://swagger.io/resources/open-api/">OpenAPI specification (OAS)</a>, formerly known as the Swagger Specification, is the world's standard for describing RESTful APIs.</p>
<p>The specification creates a RESTful interface for easily developing and consuming an API by mapping all the resources and operations associated with it. </p>
<p>It can help you:</p>
<ul class="ms-4">
<li>be consistent in the way you describe RESTful APIs  </li>
<li>validate, version, maintain and update your documentation, regardless of the programming language it’s written in</li>
</ul>
<h2 class="mt-5 mb-4">What to include in your documentation</h2>
<p>OpenAPI can describe an entire API, including:</p>
<ul class="ms-4">
<li>endpoints, parameters and data models  </li>
<li>examples of requests and responses</li>
</ul>
<p>You may also consider adding:</p>
<ul class="ms-4">
<li>sandpit or test environments to develop against  </li>
<li>whether you want it to be made publicly available or on request</li>
</ul>
<blockquote>
<p>We suggest you follow GOV.UK’s guidance on how to <a href="https://www.gov.uk/government/publications/recommended-open-standards-for-government/describing-restful-apis-with-openapi-3">describe RESTful APIs with OpenAPI 3</a>.</p>
</blockquote>
<p><strong>Last update: </strong>01/04/2025, 10:35:19</p>