<p><strong>Contents</strong></p>
<ul class="ms-4">
<li>Summary  </li>
<li>Who this entity is for  </li>
<li>How it benefits your organisation  </li>
<li>Status and current usage  </li>
<li>Make a case for adopting this standard  </li>
<li>Download reference class</li>
</ul>
<h2 class="mt-5 mb-4">Summary</h2>
<p>A reference shows where an identifier came from. It sometimes gives other details about it.</p>
<p>It is metadata, stored outside of the main table.</p>
<p>It is a bit like:</p>
<ul class="ms-4">
<li>the name of your bank on a credit card  </li>
<li>the @example.com part of an email address  </li>
<li>the country code on a telephone number</li>
</ul>
<h3>Attributes of this entity</h3>
<p>Reference has attributes that show:</p>
<ul class="ms-4">
<li>the reference number (or other identifier) in question  <ul class="ms-4">
<li>the organisation or system that created the reference number  </li>
<li>what role the source organisation has, such as property manager or facility manager  </li>
<li>any important background about the reference, for example that it is a barcode for something physical</li>
</ul>
</li>
</ul>
<h2 class="mt-5 mb-4">Who this entity is for</h2>
<p>This standard is useful for teams who:</p>
<ul class="ms-4">
<li>manage data and make sure it is reliable  </li>
<li>use data and need it to be reliable</li>
</ul>
<p>Examples of teams might include:</p>
<ul class="ms-4">
<li>data professionals  </li>
<li>tenants  </li>
<li>housing staff  </li>
<li>housing officers  </li>
<li>management</li>
</ul>
<p><a href="case-for">Read more about how it benefits these specific teams</a></p>
<h2 class="mt-5 mb-4">How it benefits your organisation</h2>
<p>Using the reference entity can help:</p>
<ul class="ms-4">
<li>disambiguate   <ul class="ms-4">
<li>deduplicate  </li>
<li>capture new data in the right place  </li>
<li>distinguish between identifiers  </li>
<li>see whether an identifier is official  </li>
<li>share data between systems and organisations, or through APIs</li>
</ul>
</li>
</ul>
<p><a href="case-for">Read more about the benefits of adopting this standard</a></p>
<h2 class="mt-5 mb-4">Status and current usage</h2>
<table class="table table-striped">
<thead class="thead-dark">
<tr>
<th>Ready to use</th>
</tr>
</thead>
</table>
<table class="table table-striped">
<thead class="thead-dark">
<tr>
<th>Reference</th>
<th>Version</th>
<th>Published</th>
<th>Next review</th>
</tr>
</thead>
<tbody><tr>
<td>PAC-01</td>
<td>v3.5</td>
<td>May 2022</td>
<td>December 2025</td>
</tr>
</tbody></table>
<p>&gt; <a href="http://x">View change history for person alert codes</a></p>
<p>&gt; Roadmap</p>
<p><a href="case-for">Make a case for adopting this standard</a><br /><a href="https://docs.google.com/document/d/1BouljMkq_6m9PNmEzT89Crk2jhhCmX9vntWG-nsKTAQ/edit?tab=t.hbsbksyx2fby">Download reference class</a></p>
<hr /><p><strong>Last update: </strong>19/03/2025, 12:45:15</p>