---
layout: basic
title: Home
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-5">
                <h1 class="display-3 fw-bold text-body-emphasis mt-5">Adopt social housing data standards</h1>
                <p class="lead mt-5 mb-5">Information, guidance and resources to help social housing providers adopt data standards.</p>
            </div>
        </div>
            <h2 class="mt-5 mb-5">Get started</h2>
                    <div class="row mb-3">
                        
            <div class="col col-12 col-lg-4 col-md-6 pb-4">
                    <div class="card card-navigation rounded-0 h-100">
                        <div class="card-body">
                            <div class="col-md-10">
                                <h3 class="card-text">
                                <a href="what-are-data-standards" class="stretched-link card-navigation">
                                    What are data standards?</a></h3>
                                <p class="card-text"></p>
                            </div>
                        </div>
                        <div class="card-footer card-navigation border-0">
                            <div class="row pb-0">
                                <div class="col-md-8">
                                    <i class="bi bi-arrow-right-short h2"></i>
                                </div>
                                <div class="col-md-4 mt-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col col-12 col-lg-4 col-md-6 pb-4">
                    <div class="card card-navigation rounded-0 h-100">
                        <div class="card-body">
                            <div class="col-md-10">
                                <h3 class="card-text">
                                <a href="about" class="stretched-link card-navigation">
                                    About this service</a></h3>
                                <p class="card-text"></p>
                            </div>
                        </div>
                        <div class="card-footer card-navigation border-0">
                            <div class="row pb-0">
                                <div class="col-md-8">
                                    <i class="bi bi-arrow-right-short h2"></i>
                                </div>
                                <div class="col-md-4 mt-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div><h2 class="mt-5 mb-5">Data standards</h2>
                    <div class="row mb-3">
                        
            <div class="col col-12 col-lg-4 col-md-6 pb-4">
                    <div class="card card-navigation rounded-0 h-100">
                        <div class="card-body">
                            <div class="col-md-10">
                                <h3 class="card-text">
                                <a href="standards/person-alert-codes/" class="stretched-link card-navigation">
                                    Person alert codes</a></h3>
                                <p class="card-text">Flags tenants’ vulnerabilities to those visiting the property.</p>
                            </div>
                        </div>
                        <div class="card-footer card-navigation border-0">
                            <div class="row pb-0">
                                <div class="col-md-8">
                                    <i class="bi bi-arrow-right-short h2"></i>
                                </div>
                                <div class="col-md-4 mt-1"><span class="badge local p-2 rounded-0">codelist</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col col-12 col-lg-4 col-md-6 pb-4">
                    <div class="card card-navigation rounded-0 h-100">
                        <div class="card-body">
                            <div class="col-md-10">
                                <h3 class="card-text">
                                <a href="standards/reference-class/" class="stretched-link card-navigation">
                                    Reference class</a></h3>
                                <p class="card-text">Records an identifier and where it came from.</p>
                            </div>
                        </div>
                        <div class="card-footer card-navigation border-0">
                            <div class="row pb-0">
                                <div class="col-md-8">
                                    <i class="bi bi-arrow-right-short h2"></i>
                                </div>
                                <div class="col-md-4 mt-1"><span class="badge local p-2 rounded-0">entity</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div><h2 class="mt-5 mb-5">Procurement</h2>
                    <div class="row mb-3">
                        
            <div class="col col-12 col-lg-4 col-md-6 pb-4">
                    <div class="card card-navigation rounded-0 h-100">
                        <div class="card-body">
                            <div class="col-md-10">
                                <h3 class="card-text">
                                <a href="procurement/api-documentation" class="stretched-link card-navigation">
                                    Essential API documentation</a></h3>
                                <p class="card-text">Provide a reduced set of guidance / documentation for APIs in housing systems that cover critical elements.</p>
                            </div>
                        </div>
                        <div class="card-footer card-navigation border-0">
                            <div class="row pb-0">
                                <div class="col-md-8">
                                    <i class="bi bi-arrow-right-short h2"></i>
                                </div>
                                <div class="col-md-4 mt-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col col-12 col-lg-4 col-md-6 pb-4">
                    <div class="card card-navigation rounded-0 h-100">
                        <div class="card-body">
                            <div class="col-md-10">
                                <h3 class="card-text">
                                <a href="procurement/open-api" class="stretched-link card-navigation">
                                    Describe APIs using OpenAI spec</a></h3>
                                <p class="card-text">Government advice is that all RESFTful APIs should be documented using the OpenAPI spec.</p>
                            </div>
                        </div>
                        <div class="card-footer card-navigation border-0">
                            <div class="row pb-0">
                                <div class="col-md-8">
                                    <i class="bi bi-arrow-right-short h2"></i>
                                </div>
                                <div class="col-md-4 mt-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col col-12 col-lg-4 col-md-6 pb-4">
                    <div class="card card-navigation rounded-0 h-100">
                        <div class="card-body">
                            <div class="col-md-10">
                                <h3 class="card-text">
                                <a href="procurement/open-documentation" class="stretched-link card-navigation">
                                    API documentation open to integrators</a></h3>
                                <p class="card-text">Making details of data interfaces available to organisations and their partners so that everyone can understand what is available.</p>
                            </div>
                        </div>
                        <div class="card-footer card-navigation border-0">
                            <div class="row pb-0">
                                <div class="col-md-8">
                                    <i class="bi bi-arrow-right-short h2"></i>
                                </div>
                                <div class="col-md-4 mt-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col col-12 col-lg-4 col-md-6 pb-4">
                    <div class="card card-navigation rounded-0 h-100">
                        <div class="card-body">
                            <div class="col-md-10">
                                <h3 class="card-text">
                                <a href="procurement/access-standards" class="stretched-link card-navigation">
                                    Access standards</a></h3>
                                <p class="card-text">How to ensure the data is available at the time and in the ways you need it</p>
                            </div>
                        </div>
                        <div class="card-footer card-navigation border-0">
                            <div class="row pb-0">
                                <div class="col-md-8">
                                    <i class="bi bi-arrow-right-short h2"></i>
                                </div>
                                <div class="col-md-4 mt-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
        <div class = "pb-5 mb-5">
            
        </div>
    </div>
</main>