---
layout: basic
title: Home
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-5">
                <h1 class="display-3 fw-bold text-body-emphasis mt-5">Housing data standards support service</h1>
                <p class="lead mt-5 mb-5">Content supporting the adoption and use of API and data standards within the
                    social housing sector.</p>
            </div>
        </div>
        <h2 class="mt-5 mb-5">Get started</h2>
        <div class="row mb-3">
            <div class="col-12 col-md-4 p-md-4">
                <div class="row pb-2">
                    <div class="card mb-4 card-navigation rounded-0">
                        <div class="card-body">
                            <div class="col-md-10">
                                <h3 class="card-text">
                                <a href="what-are-data-standards" class="stretched-link card-navigation">
                                    What are data standards?</a></h3>
                                <p class="card-text"></p>
                            </div>
                            <p class="pb-0 pt-5"><i class="bi bi-arrow-right-short h2"></i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-md-4">
                <div class="row pb-2">
                    <div class="card mb-4 card-navigation rounded-0">
                        <div class="card-body">
                            <div class="col-md-10">
                                <h3 class="card-text">
                                <a href="about" class="stretched-link card-navigation">
                                    About this service</a></h3>
                                <p class="card-text"></p>
                            </div>
                            <p class="pb-0 pt-5"><i class="bi bi-arrow-right-short h2"></i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-md-4">
                <div class="row pb-2">
                    <div class="card mb-4 card-navigation rounded-0">
                        <div class="card-body">
                            <div class="col-md-10">
                                <h3 class="card-text">
                                <a href="procurement" class="stretched-link card-navigation">
                                    Case studies</a></h3>
                                <p class="card-text"></p>
                            </div>
                            <p class="pb-0 pt-5"><i class="bi bi-arrow-right-short h2"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "pb-5 mb-5">
            <div class="col-12 col-md-8">
                <div class="row pb-2">
                    <h2 class="mt-5 mb-5">Data standards</h2>
                    <h3 class="h5"><a href="standards/person-alert-codes/" class="">
                                    Person alert codes</a></h3><h3 class="h5"><a href="standards/reference-class/" class="">
                                    Reference class</a></h3>
                </div>
            </div>
        <div class="col-12 col-md-8">
                <div class="row pb-2">
                    <h2 class="mt-5 mb-5">Procurement</h2>
                    <h3 class="h5"><a href="procurement/access-standards" class="">
                                    Access standards</a></h3><h3 class="h5"><a href="procurement/api-documentation" class="">
                                    Essential API documentation</a></h3><h3 class="h5"><a href="procurement/open-documentation" class="">
                                    API documentation open to potential integrators</a></h3><h3 class="h5"><a href="procurement/open-api" class="">
                                    Describe APIs using OpenAI spec</a></h3>
                </div>
            </div>
        
        </div>
    </div>
</main>