<p>Contents</p>
<ul class="list">
<li>Summary</li>
<li>Who is this standard for</li>
<li>How it benefits your organisation</li>
<li>Organisations who implemented this standard</li>
<li>Case studies</li>
<li>Status and current usage</li>
<li>Download person alert codes</li>
</ul>
<h2>Summary</h2>
<p>A person alert code flags tenants’ vulnerabilities and necessary adjustments that need to be considered by anyone visiting or working at the property.</p>
<p>Examples of categories include:</p>
<ul class="list">
<li>anti-social behaviour</li>
<li>hearing difficulties</li>
<li>disability</li>
</ul>
<p>Examples of alerts may include:</p>
<ul class="list">
<li>don’t visit the property alone</li>
<li>British Sign Language (BSL) interpreter needed</li>
<li>Who is this standard for</li>
</ul>
<h2>Who is this standard for</h2>
<p>This standard is useful for teams who are working to ensure their tenants' needs are considered and catered for.</p>
<p>Examples of teams might include:</p>
<ul class="list">
<li>repairs teams</li>
<li>housing officers</li>
<li>surveyors</li>
</ul>
