---
layout: basic
title: Procurement
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <nav aria-label="breadcrumb" class="mt-4">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Procurement</li>
            </ol>
        </nav>
            <h1 class="mt-5 pt-4 mb-5 pb-4">Procurement</h1>
        <div class="row pt-3 mt-5">
                    <div class="col-4 p-4">
                    <div class="row pb-2">
                        <div class="card mb-4 card-navigation rounded-0">
                            <div class="card-body">
                                <div class="col-md-10">
                                    <a href="api-documentation" class="stretched-link card-navigation">
                                        <p class="card-text h3">Essential API documentation</p>
                                        <p class="card-text">Provide a reduced set of guidance and/or documentation for APIs in housing systems that cover critical elements for usage and understanding.</p>
                                </div>
                                <p class="pb-0 pt-5"><i class="bi bi-arrow-right-short h2"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><div class="col-4 p-4">
                    <div class="row pb-2">
                        <div class="card mb-4 card-navigation rounded-0">
                            <div class="card-body">
                                <div class="col-md-10">
                                    <a href="open-documentation" class="stretched-link card-navigation">
                                        <p class="card-text h3">API spec and documentation open to potential integrators</p>
                                        <p class="card-text">Making details of APIs and other data interfaces available to organisations and their partners so that everyone can understand what is available and how it works at the earliest useful point.</p>
                                </div>
                                <p class="pb-0 pt-5"><i class="bi bi-arrow-right-short h2"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><div class="col-4 p-4">
                    <div class="row pb-2">
                        <div class="card mb-4 card-navigation rounded-0">
                            <div class="card-body">
                                <div class="col-md-10">
                                    <a href="open-api" class="stretched-link card-navigation">
                                        <p class="card-text h3">Describe APIs using OpenAI spec</p>
                                        <p class="card-text">Government advice is that all RESFTful APIs should be documented using the OpenAPI spec.</p>
                                </div>
                                <p class="pb-0 pt-5"><i class="bi bi-arrow-right-short h2"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>