---
layout: basic
title: Procurement
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <nav aria-label="breadcrumb" class="mt-4">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Procurement</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-7">
                <h1 class="mt-5 pt-4 mb-5 pb-4">Procurement</h1>
            </div>
        </div>
        <div class="row pt-3 pb-4 mt-5">
                    <div class="col-12 col-md-4 ps-4 pe-4">
                    <div class="row">
                        <div class="card mb-4 card-navigation rounded-0">
                            <div class="card-body">
                                <div class="col-md-10">
                                    <a href="api-documentation" class="stretched-link card-navigation">
                                        <p class="card-text h3">Essential API documentation</p>
                                        <p class="card-text">Provide a reduced set of guidance / documentation for APIs in housing systems that cover critical elements.</p>
                                </div>
                                <p class="pb-0 pt-5"><i class="bi bi-arrow-right-short h2"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><div class="col-12 col-md-4 ps-4 pe-4">
                    <div class="row">
                        <div class="card mb-4 card-navigation rounded-0">
                            <div class="card-body">
                                <div class="col-md-10">
                                    <a href="open-documentation" class="stretched-link card-navigation">
                                        <p class="card-text h3">Open documentation</p>
                                        <p class="card-text">Making details of data interfaces available to organisations and their partners so that everyone can understand what is available.</p>
                                </div>
                                <p class="pb-0 pt-5"><i class="bi bi-arrow-right-short h2"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><div class="col-12 col-md-4 ps-4 pe-4">
                    <div class="row">
                        <div class="card mb-4 card-navigation rounded-0">
                            <div class="card-body">
                                <div class="col-md-10">
                                    <a href="open-api" class="stretched-link card-navigation">
                                        <p class="card-text h3">Describe APIs using OpenAI spec</p>
                                        <p class="card-text">Government advice is that all RESFTful APIs should be documented using the OpenAPI spec.</p>
                                </div>
                                <p class="pb-0 pt-5"><i class="bi bi-arrow-right-short h2"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><div class="col-12 col-md-4 ps-4 pe-4">
                    <div class="row">
                        <div class="card mb-4 card-navigation rounded-0">
                            <div class="card-body">
                                <div class="col-md-10">
                                    <a href="access-standards" class="stretched-link card-navigation">
                                        <p class="card-text h3">Access standards</p>
                                        <p class="card-text">How to ensure the data is available at the time and in the ways you need it</p>
                                </div>
                                <p class="pb-0 pt-5"><i class="bi bi-arrow-right-short h2"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>