---
layout: basic
title: Procurement
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <h1 class="pb-4">Procurement</h1>
        <div class="row">
            <div class="col-md-7">
                <h1 class="pb-4"></h1>
                    <div class="row pb-2">
                        <a href="api-documentation">Essential API documentation</a>
                        <a href="open-documentation">API spec and documentation open to potential integrators</a>
                        <a href="open-api">Describe APIs using OpenAI spec</a>
                    </div>
                
            </div>
            <div class="col-md-5 ">

            </div>
        </div>
    </div>
</main>