---
layout: basic
title: Describe APIs using OpenAI spec
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/procurement">Procurement</a></li>
                <li class="breadcrumb-item active" aria-current="page">Describe APIs using OpenAI spec</li>
            </ol>
        </nav>
        <h1 class="pb-2">Describe APIs using OpenAI spec</h1>
        <div class="row">
            <div class="col-md-7">
                    <div class="row pb-2">
                        {% include "_markdown-procurement-open-api.html" %}
                    </div>
            </div>
        </div>
    </div>
</main>