---
layout: basic
title: Standards
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <nav aria-label="breadcrumb" class="mt-4">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Standards</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-7">
                <h1 class="mt-5 pt-4 mb-5 pb-4">Standards</h1>
            </div>
        </div>
        <div class="row pt-3 pb-4 mt-5">
                    <div class="col-12 col-md-4 ps-4 pe-4">
                    <div class="row">
                        <div class="card mb-4 card-navigation rounded-0">
                            <div class="card-body">
                                <div class="col-md-10">
                                    <a href="person-alert-codes" class="stretched-link card-navigation">
                                        <p class="card-text h3">Person alert codes</p>
                                        <p class="card-text"></p>
                                </div>
                                <p class="pb-0 pt-5"><i class="bi bi-arrow-right-short h2"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>