---
layout: basic
title: Standards
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <nav aria-label="breadcrumb" class="mt-4">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Standards</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-7">
                <h1 class="mt-5 pt-4 mb-5 pb-4">Standards</h1>
            </div>
        </div>
            <div class="row mb-3">
             
                    <div class="col col-12 col-lg-4 col-md-6 pb-4">
                        <div class="card mb-4 card-navigation rounded-0 h-100">
                            <div class="card-body">
                                 <div class="col-md-12">
                                    <h2 class="h3 card-text">
                                     <a href="person-alert-codes" class="stretched-link card-navigation">
                                            Person alert codes</a></h2>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card-footer card-navigation border-0">
                            <div class="row pb-0">
                                <div class="col-md-8">
                                    <i class="bi bi-arrow-right-short h2"></i>
                                </div>
                                <div class="col-md-4 mt-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col col-12 col-lg-4 col-md-6 pb-4">
                        <div class="card mb-4 card-navigation rounded-0 h-100">
                            <div class="card-body">
                                 <div class="col-md-12">
                                    <h2 class="h3 card-text">
                                     <a href="reference" class="stretched-link card-navigation">
                                            Reference</a></h2>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                            <div class="card-footer card-navigation border-0">
                            <div class="row pb-0">
                                <div class="col-md-8">
                                    <i class="bi bi-arrow-right-short h2"></i>
                                </div>
                                <div class="col-md-4 mt-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</main>