---
layout: basic
title: Standards
---

<main role="main" id="content" tabindex="-1">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Standards</li>
      </ol>
    </nav>
    <h1 class="pb-4">Standards</h1>
    <p>Guidance for...</p>
    <div class="row">
      <div class="col-md-8">
        <div class="row pb-2">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">Person alert codes</h2>
              <p class="card-text">Provide a reduced set of guidance and/or documentation for APIs in housing systems
                that cover critical elements for usage and understanding.</p>
              <a href="person-alert-codes" class="btn local">Person alert codes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>