---
layout: basic
title: What are data standards
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <nav aria-label="breadcrumb" class="mt-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">What are data standards</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-lg-7">
                <h1 class="pt-4 pb-4">What are data standards</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                    <div class="row pb-2">
                        {% include "_markdown-what-are-data-standards.html" %}
                    </div>
            </div>
            
        </div>
    </div>
</main>