ul {
    margin-left: 16px;
}

.local {
    /* local digital green */
    /* background-color: #007f80; */
    /* slightly darker shade green to improve accessibility */
    background-color: #006161;
    text-decoration: solid;
    color: white;
}

a.local:focus,a.local:hover {
    background-color: black;
    text-decoration: solid;
    color: white;
}

a:disabled,
a[disabled] {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
    pointer-events: none;
}

.mt-n2 {
    margin-top: -0.5rem !important;
}