@media (min-width: 1400px) {
    .container{
        max-width: 1140px;
    }
}

/* .local {
    background-color: #006161;
    text-decoration: solid;
    color: white;
} */

blockquote {
    background-color: #f8f9fa;
    padding-top: 16px;
}

.card-navigation {
    background-color: #DFF1F4;
    border-color: #DFF1F4;
    border-width: 2px;
}

.card-navigation:focus,.card-navigation:hover {
    /* text-decoration: solid !important;
    background-color: #006161 !important;
    color: white !important;  */
    border-width: 2px;
    border-color: #000000;
    padding: -2px;
}

a.card-navigation {
    text-decoration: solid;
    color: black;
}

/* a.card-navigation:focus,a.card-navigation:hover {
    background-color: black;
    text-decoration: solid;
    color: white;
} */

a:disabled,
a[disabled] {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
    pointer-events: none;
}

.mt-n2 {
    margin-top: -0.5rem !important;
}

a:focus,a:hover {
    text-decoration: solid;
}